@import "restart.scss";
@import "font_awesome.scss";

$background-color: #44333d;
$text-color: #f3ecd3;
$base-size: 16px;

$max-width: 960px;

$font-heading: TheSansBold, san-serif;
$font-body: Helvetica, Arial, freesans, sans-serif;

/* Font Face */
@font-face{
    font-family: "TheSansBold";
    src: url('http://www.vam.ac.uk/__data/assets/file/0020/231293/TheSans_LP_700_Bold.eot') format('eot'),
         url('http://www.vam.ac.uk/__data/assets/file/0003/231294/TheSans_LP_700_Bold.woff') format('woff');
}

@function calc-em($target-px, $context) {
    @return ($target-px / $context) * 1em;
}

@mixin clearfix(){
    zoom: 1;

    &:before, &:after{
        content: "";
        display: table;
    }

    &:after{
        clear: both;
    }
}

@mixin box-sizing($type:border-box){
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

body{

	.container{
		max-width: $max-width;
		margin: 0 auto;
	}

    .vam_global_banner{
        
        background-color: $background-color;
        color: $text-color;
        font: 100% $font-body;
        height: calc-em(30px, $base-size);
        margin-bottom: calc-em(10px, $base-size);
        
        a{
            color: $text-color;
            
            &:hover{
                color: darken($text-color, 20);
            }
        }
        
        h1 a{
            background: url(http://www.vam.ac.uk/__data/assets/image/0008/172547/logo_mob.png?v=0.5.1) no-repeat 4px center;
            background-size: contain;
            float: left;
            height: calc-em(22px, $base-size);
            margin: calc-em(4px, $base-size) 0;
            text-indent: -9999px;
            width: calc-em(58px, $base-size);
        }
        
        .vam_global_buttons{
        
        	text-align: right;
        
	        .vam_global_navigation,
	        .vam_global_site_search{
	            display: inline-block;
	            height: calc-em(22px, $base-size);
	            margin-right: calc-em(5px, $base-size);
	            min-width: calc-em(22px, $base-size);
	            padding: calc-em(4px, $base-size) 0;
	            
	            input[type=checkbox] {
	               position: absolute;
	               top: -9999px;
	               left: -9999px;
	            }
	            
	            label {
	                @extend .fa;
	                font-family: FontAwesome, TheSansBold, san-serif;
	                cursor: pointer;
	                display: block;
	                font-size: calc-em(20px, $base-size);
	                margin-right: calc-em(4px, $base-size);
	                text-indent: -9999px;
	                
	                &:hover{
	                    color: darken($text-color, 20);
	                }
	            }
	    
	            #vam_global_site_navigation_toggle:checked ~ ul {
	               display: block;
	            }
	            
	            #vam_global_site_search_toggle:checked ~ form {
	               display: table;
	            }
	            
	            form,
	            ul {
	                background-color: lighten($background-color, 10);
	                display: none;
	                font-family: $font-heading;
	                left: 0;
	                list-style-type: none;
	                margin: calc-em(6px, $base-size) auto;
	                max-width: $max-width;
	                position: absolute;
	                right: 0;
	                width: 100%;
	                
	                li{
	                    @include box-sizing();
	                    border-bottom: 1px solid white;
	                    display: inline;
	                    float: left;
	                    text-align: left;
	                    width: 100%;
	                    white-space: nowrap;
	                    
	                    @media screen and (min-width: 215px){
	                        width: 50%;
	                        
	                        &:nth-child(2n+1) {
	                            border-right: 1px solid #fff;
	                        }
	                    }
	                    
	                    a{
	                        background: lighten($background-color, 10) url(http://www.vam.ac.uk/__data/assets/image/0007/172465/arrow-r_dk.gif?v=0.6.1) 99% 50% no-repeat;
	                        display: block;
	                        text-decoration: none;
	                        padding: calc-em(8px, $base-size);
	                    }
	                }
	            }
	            
	            form{
	            	height: calc-em(32px, $base-size);
	            	overflow: hidden;
	            	
	            	@media screen and (min-width: 600px){
	            		left: inherit;
	            		width: 400px;
	            	}
	            
	            	input, button{
		            	border: 1px solid white;
						margin: 0;
						padding: 0;
	            	}
	            
		            input[type=text]{
		            	display: table-cell;
		            	font-family: $font-heading;
		            	float: left;
		            	height: calc-em(22px, $base-size);
		            	margin: calc-em(4px, $base-size);
		            	padding: 0 1%;
						position: relative;
						width: 98%;
						
						&:focus {
							outline: none;
						}
		            }
		            
		            span {
		            	display: table-cell;
		            	font-size: 0;
		            	position: relative;
						vertical-align: middle;
						width: 1%;
						white-space: nowrap;
						
			            button{
							border: 1px solid transparent;
							cursor: pointer;
							height: 24px;
							margin-right: calc-em(4px, $base-size);
							padding: calc-em(4px, $base-size) calc-em(10px, $base-size);
							-webkit-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							vertical-align: middle;
							white-space: nowrap;
			            }
		            }
	            }
	        }
	        
	        .vam_global_navigation label{
	        	i{
	                font-style: normal;
	            }
	            
	            @media screen and (max-width: 215px){
	                i{display: none;}
	            }
	        
	        	&:before{
		            content: '\f0c9';
		        }
	        }
	        
	        .vam_global_site_search{
	        	@media screen and (min-width: 600px){position: relative;}
	        	label{
		        	i{display: none;}
		        	
		        	&:before{
		            	content: '\f002';
					}
		        }
		    }
	        
		}
    }
}